

<div id="ember769" class="ember-view">
  <li class="list-group-item">
  <div class="ticket-location">{{question.location}}</div>
  <div id="ember771" class="ember-view">
    <div class="time-ago text-muted">9m</div>
</div>
  <div class="student-name">{{question.name}}</div>
</li>
</div>
