
<div id="ember514" class="ember-view liquid-container"><div id="ember784" class="ember-view liquid-child" style="visibility: visible; top: 0px; left: 0px; transform: translateX(0px);"><div class="ticket-details">
  <div class="container">
    <h3>Eric &amp; Suzi</h3>

    <h4>Location: 10C</h4>

    <div class="well question">
      Stuck with display on places you've been

    </div>
    <a class="normalLink" href="http://localhost:4200/admin">Back</a>

    <button class="btn btn-danger pull-right" data-ember-action="794">close</button>
  </div>
</div>
</div></div>
