<div id="question" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">

<p> Have you gone through all the steps on the Learn How to Program debugging lesson? </p>

<button class="btn btn-danger" type="button">{{#link-to 'pair'}}Yes >>{{/link-to}}</button>

</div>
